.benefits {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.benefitsSvg {
  height: 3rem;
  width: 3rem;
  margin: 10px 0;
  fill: currentColor;
  opacity: 0.9;
}

[data-theme='dark'] .benefitsSvg {
  opacity: 0.8;
}