.benefits {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.benefitsSvg {
  height: 100px;
  width: 100px;
  margin: 50px 0 20px;
  fill: currentColor;
  opacity: 0.9;
}

[data-theme='dark'] .benefitsSvg {
  opacity: 0.8;
}